
#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-top: 5px;
  /* text-align: center; */
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
